@import "../variables";

// action bar height: 0 + 16 + 28 + 15 + 1
//
.actionbar {
	position: relative;
	background: $white;
	border-bottom: 1px solid $line-shadow;
	padding: 1rem;
	font-size: 12px;
	height: 28px;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;

	&.fixed {
		color: $white;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 1030;
		background: $black;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), #000000);
		border-bottom: 0;
		padding: .5rem 1rem;
		box-shadow: 0 5px 20px rgba(0, 0, 0, .5);
		transition: padding 240ms;

		+ #contents {
			padding-top: 60px;
		}
	}

	.pull-xs-left > *,
	.pull-xs-right > * {
		float: left;
	}

	.pull-xs-left > * + *,
	.pull-xs-right > * + *,
	.pull-xs-left + .pull-xs-left {
		margin-left: 1rem;
	}

	.btn-toolbar {
		margin: 0 0 0 1rem;

		> * {
			vertical-align: top;
			float: none;
		}
	}

	.btn,
	.btn-group,
	.inline,
	.form-control {
		display: inline-block;
		vertical-align: top;
		font-size: 1em;
	}

	.form-control,
	.input-group-addon {
		padding: 3px 5px;
		height: 20px;
		line-height: 20px;
		font-size: 1em;
	}

	.form-control {
		background-color: #F6F6F6;
	}

	select.form-control {
		padding-right: 10px;
		height: 20px !important;
	}

	.btn { // h: 1 + 7 + 12 + 7 + 1
		line-height: 1;
		padding: 7px 10px;
	}
}

// Title

.actionbar-title {
	display: inline-block;

	h1 {
		margin: 0;
		padding: 0;
		display: inline-block;
		font-size: 24px;
		font-weight: normal;
		line-height: 28px;

		a {
			color: inherit;
		}
	}

	.dropdown-toggle {
		border: 1px solid transparent;
		border-radius: 3px;
		box-shadow: none;
		padding: 5px;
	}

	.btn-group .caret {
		vertical-align: middle;
	}
}

.actionbar-title .dropdown-toggle:hover,
.actionbar-title .btn-group.open .dropdown-toggle {
	border-color: #ccc;
}

/*
 * Links to the various parts of the module.
 */

.actionbar-search,
.actionbar-toolbar {
	float: left;
}

.actionbar-toolbar {
	> * + * {
		margin-left: 8px;
	}

	.dropdown-menu {
		left: auto;
		right: 0;
	}
}

.actionbar-link {
	color: inherit;
	padding: 8px 10px;
	display: inline-block;
	line-height: 1em;
	text-transform: uppercase;

	&:hover {
		text-decoration: none;
		background: rgba(51, 181, 229, .3);
		border-radius: 3px;
	}

	&.active {
		background: rgba(51, 181, 229, 1);
		border-radius: 3px;
		color: $white;
	}

	+ .actionbar-link {
		margin-left: 2px;
	}
}

.actionbar + #contents > .alert-wrapper {
	margin-top: -1px;
	padding-top: 1px;
}

/*
 *
 */

form.navbar-search,
.listview-search {
	font-size: 14px; /* we use a fixed value so that the height of the form is the same as the browse element*/
	padding: 0 !important;
	background-color: #F6F6F6;
	float: left;
	height: auto !important;

	&.focus {
		border-color: #66afe9;
	}

	input {
		border: none;
		background: transparent;
		position: relative;
		border-radius: 0;
		box-shadow: none;
		padding: 2px .5ex;
		width: 24ex !important;
		font-size: 14px;
		line-height: 22px;

		&.placeholder {
			font-style: italic;
			color: $gray;
		}

		&:focus {
			box-shadow: none;
		}

		&:not(.placeholder) + button {
			visibility: visible;
		}
	}

	button {
		color: $gray;
		border: none;
		background: transparent;
		font-weight: normal;
		font-size: 16px;
		text-shadow: none;
		line-height: 16px !important;
		padding: 0;
		margin: 0 0 0 1ex;
		box-shadow: none;
		visibility: hidden;
		overflow: hidden;
		opacity: .6;

		&:hover,
		&:active {
			opacity: .8;
			background-color: transparent;
			background-position: -312px 0;
		}

		&:active {
			opacity: 1;
		}
	}

	&.active:not(.focus) {
		background-color: #FFC;

		button {
			color: $gray;
		}
	}
}

/*
 * Fixed
 */

.actionbar.fixed {

	.actionbar-title .dropdown-toggle:hover,
	.actionbar-title .btn-group.open .dropdown-toggle {
		border-color: #444;
	}

	.actionbar-title .caret {
		border-top-color: white;
	}

	.navbar-search,
	.listview-search,
	input,
	select {
		background: #333;
		background: linear-gradient(to bottom, #212121 5%, #333);
		border-color: #454545;
		box-shadow: 0 0 1px black inset;
	}

	.navbar-search input,
	.listview-search input {
		background: transparent;
		box-shadow: none;
	}
}
