@import "../variables";

.spinner {
	border: 1px solid $input-border-color;
	border-radius: $input-border-radius;
	height: auto;
	background: $white;
	padding: $input-padding-y;
	display: inline-block;
	cursor: pointer;
	color: inherit !important;
	text-decoration: none !important;
	position: relative;
	overflow: hidden;
	vertical-align: top;

	&::after {
		content: '';
		display: block;
		position: absolute;
		right: 2px;
		bottom: 2px;
		width: 0;
		height: 0;
		border-bottom: 10px solid;
		border-left: 10px solid transparent;
		opacity: .8;
	}

	&:hover {
		background-color: darken($input-background, 10%);
		border-color: darken($input-border-color, 12%);
	}

	&.placeholder {
		color: $input-placeholder-color !important;
		font-style: italic;
	}

	&:not(.placeholder) .spinner-placeholder,
	&.placeholder .spinner-content {
		display: none;
	}
}

.popover.contrast .spinner {
	border-color: #454545;
	box-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.075) inset;
	background-color: hsla(0, 0%, 0%, 0.3);

	&:hover {
		background-color: hsla(0, 0%, 20%, 0.3);
	}
}

.spinner,
.popover.contrast .spinner {

	&:active {
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	}

	&:focus {
		border-color: #A3C0E5;
		background-color: #B5D5FF;
	}
}

.input-append {
	position: relative;

	.spinner {
		float: left;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;

		& + .add-on {
			position: absolute;
			top: 0;
			bottom: 0;
			height: auto;
		}
	}
}
