@CHARSET "UTF-8";

.group--resources-images-inject-thumbnails > .control-group
{
	display: inline-block;
	vertical-align: top;
}

.group--resources-images-inject-toggler:not(.enabled) ~ .group--resources-images-inject-thumbnails {
	display: none;
}
