table.manage td.thumbnail a img
{
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin-right: 1ex;
	border: 1px solid #CFCFCF;
	padding: 1px;
}

table.manage td.thumbnail a img:hover
{
	border-color: #A3C0E5;
}

table.manage th.size,
table.manage td.size
{
	text-align: right;
	white-space: nowrap;
}

img#pop-preview
{
	border: 2px solid gray;
	z-index: 1000;
	background: white;
	padding: 1px;
	border: 1px solid #CCC;
	
	box-shadow: 0 10px 40px gray;
	-moz-box-shadow: 0 10px 40px gray;
	-webkit-box-shadow: 0 10px 40px gray;
}