[submodule "framework/ICanBoogie"]
	path = framework/ICanBoogie
	url = git@github.com:ICanBoogie/ICanBoogie.git
[submodule "framework/Brickrouge"]
	path = framework/Brickrouge
	url = git@github.com:ICanBoogie/Brickrouge.git
[submodule "engines/Patron"]
	path = engines/Patron
	url = git@github.com:olvlvl/Patron.git
[submodule "framework/BlueTihi"]
	path = framework/BlueTihi
	url = git@github.com:olvlvl/BlueTihi.git
[submodule "modules/thumbnailer"]
	path = modules/thumbnailer
	url = git@github.com:Icybee/module-thumbnailer.git
[submodule "modules/comments"]
	path = modules/comments
	url = git@github.com:Icybee/module-comments.git
