@CHARSET "UTF-8";

/*
.widget-adjust-node:not(.popup) {
	margin: 1em 0;
}

.widget-adjust-node:not(.popup) div.arrow {
	display: none;
}
*/
.widget-adjust-node .records {
	padding: 0;
	margin: 1em 0 0 0;
	list-style: none;
}

.widget-adjust-node .records a {
	color: inherit;
	display: block;
	text-decoration: none;
}

.widget-adjust-node .pagination ul
{
	list-style: none;
	display: block;
	text-align: center;
	margin: 1em 0 0 0;
	padding: 0;
}

.widget-adjust-node .pagination li {
	display: inline;
}

.widget-adjust-node .pagination a {
	padding: .5ex;
}

.widget-adjust-node .pagination .active {
	opacity: .6;
}

.widget-adjust-node .pagination .disabled {
	opacity: .3;
}


/*
.widget-adjust-node .records li {
	margin: 1px 0;
	padding: 0;
	cursor: pointer;
}
*/



/*
div.widget-adjust-node .records li:nth-child(even) {
	background-color: #FBFBFB;
}

div.widget-adjust-node .records li:not (.empty ):hover {
	background-color: #f2f8ff;
}

div.widget-adjust-node .records li.selected {
	background-color: #B5D5FF;
}
*/
.widget-adjust-node .records li a[href] {
	color: inherit;
	display: block;
	padding: .2em 1ex .2em 0;
	text-decoration: none;
}

div.widget-adjust-node .records li.selected,div.widget-adjust-node .records li:hover a[href]
	{
	color: #4B8BB3;
}

div.widget-adjust-node .records li img {
	vertical-align: middle;
	margin-right: .5ex;
	border: none;
}

div.widget-adjust-node .pagination {
	text-align: center;
	margin: 1em auto;
}

div.widget-adjust-node .pager .separator {
	display: none;
}

div.widget-adjust-node .pager a,div.widget-adjust-node .pager strong {
	margin: .5ex;
}