@CHARSET "UTF-8";

/* home */

.view--news--home ol {
	padding: 0;
	margin: 1em 0;
	list-style: none;
}

.view--news--home li+li {
	margin-top: 2em;
}

.view--news--home img.thumbnail {
	float: right;
	margin: 1em 0 1ex 1ex;
}

.view--news--home .contents {
	overflow: hidden;
	margin-top: -1em;
	margin-bottom: -1em;
}

/* list */

.view--news--list h2 a {
	text-decoration: none;
}

.view--news--list ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

.view--news--list .contents {
	overflow: hidden;
}

.view--news--list img.thumbnail {
	float: left;
	margin-right: 2ex;
}

/* view */
.view--news--view .contents {
	overflow: hidden;
	margin-bottom: -1em;
}

.view--news--view img.thumbnail {
	float: right;
	margin-left: 1ex;
}