@CHARSET "UTF-8";

/*
**

NOW

**
*/

#system-nodes-now div.panel-contents
{
	margin: 0;
}

#system-nodes-now table
{
	line-height: 1.8em;
}

#system-nodes-now th
{
	color: #808080;
	text-align: left;
	font-weight: normal;
	border-bottom: 1px solid #CCC;
	background-color: white;
}

#system-nodes-now td.count
{
	font-style: italic;
	text-align: right;
	width: 4ex;
	padding: 0 1ex;
}

#system-nodes-now td.constructor
{
	padding-right: 3ex;
	width: 20ex;
}

/*
**

USER MODIFIED

**
*/

#system-nodes-user-modified div.panel-contents
{
	margin: 0;
}

#system-nodes-user-modified td.date
{
	width: 12ex;
	text-align: right;
	padding: 0 1ex;
	background: white;
	border-right: 1px solid #CCC;
	font-size: .8571em;  
	white-space: nowrap;  
}

#system-nodes-user-modified td.title
{
	padding-left: 1ex;
}