@CHARSET "UTF-8";

.node-navigation {
	clear: both;
	color: #BFBFBF;
	margin-top: 2em;
	padding-top: 2em;
	margin-bottom: 4em;
	border-top: 1px dashed #ddd;
	line-height: 1.33em;
}

.node-navigation a:not (:hover ) {
	color: inherit;
}

.node-navigation .list {
	text-align: center;
}

.node-navigation .cycle {
	margin-top: -1.33em; /* line-height */
}

.node-navigation .cycle a {
	display: block;
	width: 30%;
}

.node-navigation .next {
	float: right;
	text-align: right;
}

.node-navigation .previous {
	float: left;
}

.node-navigation .next::after {
	content: "\00A0\2192";
}

.node-navigation .previous::before {
	content: "\2190\00A0";
}