@CHARSET "UTF-8";

form.edit div.is_notify + table
{
	width: 100%;
	display: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

form.edit div.is_notify.unfolded + table
{
	display: table;
}

form.wdform td.label
{
	font-size: .9em;
}

form.wdform textarea[name="notify_template"]
{
	font-family: Droid Sans Mono, Consolas, Monaco, monospace;
	font-size: .8em;
}

form.edit button.reset
{
	float: right;
	margin: 1em 0 1em 1em;
}