#wysiwyg
{
	height: auto;
}

html
{
	background-image: none;
}

body
{
	font-family: Droid Sans, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#wysiwyg body
{
	background-image: none;
	margin: 1em;
	padding: 0;
	height: auto;
}

object
{
	background: fuchsia;
}

body.mooeditable-outline address,
body.mooeditable-outline blockquote,
body.mooeditable-outline div,
body.mooeditable-outline h1,
body.mooeditable-outline h2,
body.mooeditable-outline h3,
body.mooeditable-outline h4,
body.mooeditable-outline h5,
body.mooeditable-outline h6,
body.mooeditable-outline p,
body.mooeditable-outline pre,
body.mooeditable-outline table,
body.mooeditable-outline th,
body.mooeditable-outline td
{
	padding: 8px;
	border: 1px dashed #ccc;
}

:focus {
	outline: none;
}