@CHARSET "UTF-8";

.widget-adjust-thumbnail
{
	position: relative;
}
	
.widget-adjust-thumbnail.combo
{
	display: inline-block;	
}

.widget-adjust-thumbnail .widget-adjust-image,
.widget-adjust-thumbnail .widget-adjust-thumbnail-options
{
	float: left;
	min-width: 200px;
}

.widget-adjust-thumbnail:not(.unfold-thumbnail) .widget-adjust-thumbnail-options
{
	display: none;
}

.widget-adjust-thumbnail.unfold-thumbnail .widget-adjust-thumbnail-options
{
	padding-left: 1em;
}

/*
.widget-adjust-thumbnail div.form-element + div.form-element
{
	margin-top: 1em;
}
*/

.widget-adjust-thumbnail > .more
{
	background: white;
	border: 3px solid rgba(0, 0, 0, 0.8);
	border-left: 0;
	padding: .5em;
	position: absolute;
	top: 1em;
	left: 100%;
	border-radius: 0 4px 4px 0;
	cursor: e-resize;
	margin-left: 14px;
}

.contrast .widget-adjust-thumbnail > .more
{
	background: black;
	margin-left: 10px;
}

.widget-adjust-thumbnail.unfold-thumbnail > .more
{
	cursor: w-resize;
}



/*
.popup .widget-adjust-thumbnail .search
{
	margin: 0;
}

.popup > .widget-adjust-thumbnail
{
	padding: 1em;
}
*/