@CHARSET "UTF-8";

.widget-adjust-image:not(.popup)
{
	margin: 1em 0;
}

.widget-adjust-image.popup
{
	margin: 0;
	margin-left: 1em;
}

.widget-adjust-image input.search
{
	width: 100% !important;
}

.widget-adjust-image .results ul
{
	padding: 0;
	margin: .5em 0;
	list-style: none;
	overflow: hidden;
	width: 256px;
	background: #F6F6F6;
	border: 1px solid #CFCFCF;
}

.popup.black .widget-adjust-image .results ul
{
	background: #333;
	border-color: #222;
}

.widget-adjust-image .results img
{
	border: none;
	cursor: pointer;
	display: block;
}

.widget-adjust-image .results li
{
	width: 64px;
	height: 64px;
	float: left;
}

.widget-adjust-image .results li.selected
{
	background-color: #B5D5FF;
}

.widget-adjust-image .results li.selected img
{
	border: 2px solid #A3C0E5;
	width: 60px;
	height: 60px;
	opacity: .5;
}

.widget-adjust-image .results ul:hover li:hover:not(.empty)
{
	background-color: #FFC;
}

.widget-adjust-image .results ul:hover li:hover img
{
	border: 2px solid #CCA;
	opacity: .6;
	width: 60px;
	height: 60px;
}

.widget-adjust-image .pager
{
	text-align: center;
	margin-top: 1em;
}

.widget-adjust-image .pager .separator
{
	display: none;
}

.widget-adjust-image .pager a,
.widget-adjust-image .pager strong
{
	margin: .5ex;
}

.widget-adjust-image p.no-response
{
	display: table-cell;
    height: 256px;
    text-align: center;
    vertical-align: middle;
    width: 256px;
}

.widget-adjust-image.popup div.contents
{
	margin: 1em;
}

.widget-adjust-image div.confirm
{
	text-align: center;
	background-color: #F6F6F6;
	border-top: 1px solid #CFCFCF;
}

.widget-adjust-image:not(.popup) div.confirm
{
	display: none;
}

.widget-adjust-image div.confirm button
{
	margin: .8em 1ex;
}