@CHARSET "UTF-8";

.widget-pop-image
{
	padding: .5em;
	font-size: .8em;
	font-weight: normal;
	text-shadow: 1px 2px 2px white;
	text-align: center;
}

.widget-pop-image img
{
	border: 1px solid #cfcfcf;
	display: block;
}

.widget-pop-image:not(.placeholder) span.title,
.widget-pop-image.placeholder img
{
	display: none;
}