#navigation {
	font-size: 14px;
	line-height: 16px;
	border-top: 1px solid #333;
	border-radius: 0;
	background-image: linear-gradient(to bottom, #222, #000);
	padding: 0;
	position: relative;

	.nav {
		margin: 0;
		padding: 0 0 0 1rem;
		list-style: none;

		& > li {
			display: inline-block;
			position: relative;

            & + li {
              margin-left: 1rem;
            }

			& > a {
				color: #aaa;
				text-decoration: none;
				display: inline-block;
				padding: 1rem 0 .75rem 0;
				border-bottom: 4px solid transparent;

				&:hover {
					border-bottom-color: rgba(51, 181, 229, 0.6);
					background: transparent;
				}
			}
		}

		& > li.active > a {
			color: white;
			text-shadow: 1px 1px black;
			border-bottom-color: rgb(51, 181, 229);
		}
	}

	.dropdown-menu {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-top: 0;
		margin-top: 0;
		margin-left: calc(-1rem - 1px);

		&::before {
			content: "";
			border: none;
			border-top: 4px solid #1F6D89;
			position: absolute;
			top: -4px;
			left: 0;
			right: 0;
			height: 0;
			display: block;
		}

		&::after {
    		display: none;
		}

        a {
			padding-left: 1rem;
			padding-right: 1rem;
        }
	}

	li:hover > .dropdown-menu {
		display: block;
	}

	.active > .dropdown-menu:before {
		border-top-color: #33B5E5;
	}
}

.dropdown-menu {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}
