button + .reset-default-value,
input + .reset-default-value,
div.input-append + .btn.reset-default-value {
	margin-left: 1ex;
}

textarea + .reset-default-value,
.help-block + .reset-default-value,
div:not(.input-append) + .reset-default-value {
	margin-top: 1em;
}
