.widget-bordered {
	background-color: white;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.form-primary .widget-bordered input,
.form-primary .widget-bordered textarea,
.form-primary .widget-bordered select,
.form-primary .widget-bordered .like-input {
	background-color: #F6F6F6;
}