@import "../variables";

.wrapped-checkbox {
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	line-height: 1em;
	vertical-align: middle;
	display: inline-block;
}

.wrapped-checkbox input {
	display: none;
}

.wrapped-checkbox label {
	width: 1rem;
	height: 1rem;
	border: 1px solid $line-shadow;
	transition: all 240ms;
	margin: 0;
}

.wrapped-checkbox.circle label {
	border-radius: 100%;
}

.wrapped-checkbox input:checked + label {
	background: #b5d5ff;
	border-color: #a3c0e5;
}

.wrapped-checkbox.circle input:checked + label,
.wrapped-checkbox.rectangle input:checked + label {
	background-color: #FFC;
}

.wrapped-checkbox input:disabled + label {
	visibility: hidden;
}

.wrapped-checkbox.circle input:checked + label {
	border-color: #CCA;
}
