
.widget-login-combo div.wrapper {
	position: static;
	overflow: hidden;
}

.widget-login-combo .help-block {
	max-width: none;
}

.widget-login .form-actions,
.widget-nonce-request .form-actions {
	padding: 0;
	border: 0;
	margin: 1em 0 0 0;
	background: transparent;
	text-align: center;
}

body.admin .widget-login-combo form {
	font-size: 2em;
	background-image: -moz-linear-gradient(top, white 70%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, white 70%, #f0f0f0);
	background-image: linear-gradient(top, white 70%, #f0f0f0);
	padding: 1em;
	margin: 0;
}

body.admin .widget-login-combo input {
	height: auto;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body.admin .widget-login-combo button {
	font-size: .9em;
	border-width: 2px;
	border-radius: 6px;
	padding: 0.3em 1ex;
	line-height: normal;
}

body.admin .widget-login-combo .element-description {
	text-align: right;
	font-size: .9rem;
	margin: .5em 0;
}

body.admin .widget-login-combo .control-group + .control-group {
	margin-top: 1em;
}

body.admin .widget-login-combo div.alert {
	font-size: 1rem;
}

body.admin .widget-login-combo .control-group > label {
	font-size: 1rem;
}

body.admin .widget-login-combo .control-group--submit {
	text-align: center;
}

body.admin #contents {
	width: 600px;
	margin: 1em auto 0 auto;
}
