
.widget-login-combo div.wrapper {
	position: static;
	overflow: hidden;
}

.widget-login-combo .help-block {
	max-width: none;
}

.widget-login .form-actions,
.widget-nonce-request .form-actions {
	padding: 0;
	border: 0;
	margin: 1em 0 0 0;
	background: transparent;
}

.widget-login-combo .form-actions {
	text-align: center;	
}