/** listview **/
/* table */

.listview table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

/* cells */

.listview th {
	border-bottom: 1px solid #CCC;
	padding: 0;
	text-align: left;
	white-space: nowrap;
}

.listview th > div,
.listview td {
	padding: .25rem .5rem;
}

.listview th i[class^="icon-"] {
	line-height: normal;	
}

.listview th.measure,
.listview td.measure,
.listview th.pull-right,
.listview td.pull-right {
	text-align: right;
}

.listview th.pull-right,
.listview td.pull-right {
	float: none;
}

.listview tbody a:not(.btn) {
	color: inherit;
	text-decoration: none;
}

/* thead */

.listview thead tr {
	background-color: #E8E8E8;
}

.listview-interactive thead th > div > a,
.listview-interactive thead .dropdown > a {
	color: inherit;
}

.listview-interactive thead .asc .title:after,
.listview-interactive thead .desc .title:after {
	font-family: FontAwesome;
	margin-left: .5ex;
}

.listview-interactive thead .asc .title:after {
	content: "\f0d8";
}

.listview-interactive thead .desc .title:after {
	content: "\f0d7";
}

.listview-interactive th {
	padding: 0;
	line-height: 28px;
}

.listview-interactive th a {
	display: block;
}

.listview-interactive th > div {
	padding-top: 0;
	padding-bottom: 0;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	position: relative;
	height: 28px;
}

.listview th:first-child > div {
	border-left-width: 0;
}

.listview th:last-child > div {
	border-right-width: 0;
}

.listview th.orderable:hover>div,
.listview th.filters:hover>div,
.listview th.filtering:hover>div {
	border-color: #cfcfcf;
}

.listview td:first-child,
.listview th:first-child > div {
	padding-left: 16px;
}

.listview td:last-child,
.listview th:last-child > div {
	padding-right: 16px;
}

.listview th.has-options > div {
	padding-right: 28px;
}

.listview th.has-no-label:not(:first-child) > div {
	padding: 0;
}

.listview th.has-no-label > div > a {
	display: none;
}

.listview th.orderable:hover,
.listview th.filters:hover,
.listview th.filtering:hover {
	background: -moz-linear-gradient(top, #ddd, #E8E8E8 60%);
	background: -webkit-linear-gradient(top, #ddd, #E8E8E8 60%);
	background: linear-gradient(to bottom, #ddd, #E8E8E8 60%);
}

.listview th.filtering .title:after {
	font-family: FontAwesome;
	content: "\F0b0";
	margin-left: .5ex;
}

.listview th .dropdown {
	position: absolute;
	right: 0;
	top: 0;
	border-left: 1px dashed transparent;
}

.listview th.has-no-label .dropdown {
	right: auto;
	width: 100%;
}

.listview th .dropdown>a {
	padding: 0 4px;
	text-align: center;
}

.listview th:hover .dropdown,
.listview th .dropdown.open {
	border-left-color: #cfcfcf;
}

.listview th .dropdown.open {
	border-left-style: solid;
	background: white;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
}

.listview th.filtering > div {
	background: #ffc;
	background: -moz-radial-gradient(center bottom, ellipse farthest-side, #ffc, rgba(255, 255, 204, 0));
	background: -webkit-radial-gradient(center bottom, ellipse farthest-side, #ffc, rgba(255, 255, 204, 0));
	background: radial-gradient(center bottom, ellipse farthest-side, #ffc, rgba(255, 255, 204, 0));
}

.listview th .dropdown-menu {
	text-align: left;
	margin-left: -6px;
}

.listview th.pull-right .dropdown-menu {
	margin-left: 0;
	margin-right: -6px;
}

.listview th.pull-right .dropdown-menu:after {
	left: auto;
	right: 10px;
}

.listview th.pull-right .dropdown-menu:before {
	left: auto;
	right: 9px;
}

.listview th.has-no-label .dropdown {
	border: none;
}

.listview th a:hover {
	text-decoration: none;
}

/* tfoot */

.listview tfoot {
	font-size: 12px;
}

/* listview: alert */

.listview-alert {
	margin: 0;
	border: 0;
	border-radius: 0;
	padding: 32px 16px;
	text-align: center;
}

.listview-alert q {
	font-weight: bold;
}

/* listview: controls */

.listview .listview-controls select {
	line-height: 24px;
	height: 24px;
	padding: 2px;
}

.listview-controls select {
	width: auto;
}

.listview .listview-controls input {
	padding: 2px;
}

.listview .listview-controls {
	float: right;
	line-height: 24px;
}

.actionbar .listview-controls {
	line-height: 28px;
}

.listview-controls > div + div {
	margin-left: 16px;
}

.listview-start,
.listview-limit,
.listview-browse,
.listview-search {
	float: left;
}

.listview-search input,
.listview-search button {
	float: left;
}

.listview-search button {
	padding: 5px 4px;
}

/* tbody */

.listview tbody tr + tr td {
	border-top: 1px solid #EEE;
}

.listview tbody tr:hover a:not(.btn) {
	color: #4B8BB3;
}

.listview tbody tr:hover .dropdown-menu li a {
	color: #404040;
}

.listview tbody tr:hover .dropdown-menu li:hover a,
.listview tbody tr:hover .dropdown-menu li.active a {
	color: white;
}

.listview tbody a:hover {
	text-decoration: underline;
}

.listview tbody .dropdown-menu a:hover {
	text-decoration: none;
}

.listview tbody tr:nth-child(even) {
	background-color: #FBFBFB;
}

.listview tbody tr:hover {
	background-color: #f2f8ff;
}

.listview tbody tr:hover a.filter {
	color: #4BB38B;
}

.listview tr.no-ownership td {
	opacity: .6;
}

.listview tbody.empty td {
	padding: 0;
}

/* section */

.listview-divider td {
	background: #F6F6F6;
	font-weight: bold;
}

.listview tr + tr.listview-divider td,
.listview tr.listview-divider + tr td {
	border-color: #cfcfcf;
}

/* */

.listview th.size,
.listview td.size,
.listview th.date,
.listview td.date {
	text-align: right;
	white-space: nowrap;
}

.listview th.date,
.listview td.date {
	width: 16ex;
	white-space: nowrap;
}

.listview .cell-boolean {
	width: 1px;
	white-space: nowrap;
}

.listview td.cell-boolean label {
	margin: auto;
}

.listview tfoot td {
	cursor: auto;
	background-color: #E8E8E8;
	border-top: 1px solid #CFCFCF;
	padding: 6px 4px;
}

.listview img.icon,
.listview .thumbnail--icon {
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin-right: 1ex;
	border: 1px solid #CFCFCF;
	padding: 1px;
}

.listview a img.icon:hover,
.listview a .thumbnail--icon:hover {
	border-color: #A3C0E5;
}

/*
**

OPTIONS

**
*/

.listview-browse a {
	color: inherit;
	border: 1px solid transparent;
	border-radius: 4px;
	display: block;
	padding: 0 5px;
	position: relative;
	float: left;
	text-decoration: none;
}

.actionbar .listview-browse a {
	font-size: 18px;
	line-height: 18px;
	padding: 4px;
}

.listview-browse i {
	line-height: inherit;
	display: block;
}

.listview-browse a:hover {
	border-color: #CFCFCF;
	background-color: white;
}

.listview-browse a.previous:active {
	left: -2px;
}

.listview-browse a.next:active {
	left: 2px;
}

.actionbar .listview-browse a:hover {
	border-color: #ccc;
	background-color: #F6F6F6;
}

.actionbar.fixed .listview-browse a:hover {
	color: black;
}

/*
**

RECORDS

**
*/

.listview tbody .icon-download,
.listview tbody .icon-download-alt {
	display: inline-block;
	height: 0;
	padding-top: 14px;
	width: 14px;
	overflow: hidden;
	margin-right: .5ex;
}

.listview tbody .cell-fitted {
	width: 1%;
	white-space: nowrap;
}

/** manager **/

#manager > div > .alert-info { /* create first record || empty */
	line-height: 4em;
	text-align: center;
	border-radius: 0;
}

#manager td .alert:last-child {
	margin-bottom: 0;
}

#manager div.alert .close {
	display: none;
}

#manager tfoot {
	display: none;
}

/* actionbar-actions */

.actionbar-actions-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	visibility: hidden;
}

.actionbar-actions-wrapper.show {
	visibility: visible;
}

.actionbar-actions {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: none;
	padding: 16px 16px 15px;
	height: 28px;
	transform: translateY(60px);
	transition: all 240ms;
	opacity: 0;
	background: #4585F2;
	background: linear-gradient(to bottom, #4585F2, hsl(218, 87%, 56%));
}

.actionbar-actions label {
	color: white;
	line-height: 28px;
	margin-right: 8px;
	font-size: 14px;
}

.actionbar-actions label:before {
	font-family: FontAwesome;
	padding: 4px;
	margin-right: 8px;
	font-size: 20px;
	line-height: 1;
	display: inline-block;
	transform: rotate(-90deg);
	transition: all 480ms;
}

.actionbar-actions-wrapper.show .actionbar-actions label:before {
	transform: rotate(0deg);
}

.actionbar.fixed .actionbar-actions {
	padding: 8px 8px 7px;
	border-bottom: 1px solid hsl(218, 87%, 46%);
}

.actionbar-actions-wrapper .actionbar-actions {
	display: block;
}

.actionbar-actions-wrapper.show .actionbar-actions {
	transform: translateY(0px);
	opacity: 1;
}

.actionbar-actions .btn {
	border-color: white;
}

.actionbar-actions .btn-primary {
	background-color: hsl(218, 87%, 90%);
	background-image: linear-gradient(to bottom, white, hsl(218, 87%, 90%));
	box-shadow: none;
	color: hsl(0, 0%, 25%);
	text-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.75);
}

.actionbar-actions .btn[data-dismiss] {
	float: right;
	font-weight: bolder;
}

.actionbar-actions > .btn-group,
.actionbar-actions > .btn {
	opacity: 1;
	visibility: visible;
	transition: all 200ms;
}

.actionbar-actions.working > .btn-group,
.actionbar-actions.working > .btn {
	opacity: 0;
	visibility: hidden;
}

/**/

.listview-operations label:before {
	content: "\f00c";
	border: 2px solid;
	border-radius: 100%;
	font-size: 16px;
}

/*
.listview tbody td + td {
	border-left: 1px dashed hsla(0,0%,80%,.2);
}*/

/**/

/* ACTIONBAR */

.listview td .wrapped-checkbox,
.listview td .wrapped-checkbox label {
	vertical-align: top;
}

.listview .wrapped-checkbox input:checked + label {
	background-color: #cfc;
	border-color: #9c9;
}