<wdp:taxonomy:terms vocabulary="category" constructor="articles">
	<ul class="categories">
		<wdp:foreach>
			<wdp:variable name="category" select="@term" />
			
			<wdp:taxonomy:nodes order="date:desc">
				<wdp:variable name="link"><a href="#{@first().url('category')}" title="Voir tous les articles de la catégorie #{category}">#{category}</a></wdp:variable>

				<li class="category">
				<h2>#{link=} <sup>[#{@count()}]</sup></h2>
				<ul class="links">
				<wdp:foreach>
					<li class="article"><a href="#{@url}" title="Lien permanent vers : #{@title}">#{@title}</a></li>		
				</wdp:foreach>
				</ul>
				</li>
			</wdp:taxonomy:nodes>
		</wdp:foreach>
	</ul>
</wdp:taxonomy:terms>