/*
 * Bootstrap
 */
 
.alert .alert-actions {
	margin-top: 1em;
}

.input-append,
.input-prepend {
	vertical-align: middle;
	display: inline-block;
}

.btn {
	line-height: 1.428571em; 
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
	border-color: #ccc #ccc transparent;
}

.nav-tabs > li:hover:not(.active) > a {
	border-color: transparent !important;
	border-top: 0;
	background: transparent;
	background: -moz-linear-gradient(top, rgba(255,255,255,0), #fff);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0), #fff);
	background: linear-gradient(to bottom, rgba(255,255,255,0), #fff);
}

.nav-tabs > li:hover:not(.active) {
	padding-top: 1px;
}

.dropdown-menu {
	font-size: 14px;
}

.navbar .dropdown-menu {
	margin-top: 12px;
}

.navbar .dropdown-menu:before {
	border-bottom: 7px solid rgba(0, 0, 0, 0.2);
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	content: "";
	display: inline-block;
	left: 9px;
	position: absolute;
	top: -7px;
}

.navbar .dropdown-menu:after {
	border-bottom: 6px solid #FFF;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	content: "";
	display: inline-block;
	left: 10px;
	position: absolute;
	top: -6px;
}

.sortable label {
	display: inline;
}

.pull-right .dropdown-menu {
	left: auto;
	right: 0;
}

.label {
	background-color: #999;
	border-radius: 3px;
	color: white;
	font-size: 9.75px;
	font-weight: bold;
	padding: 1px 3px 2px;
	text-transform: uppercase;
}

.label-important {
	background-color: #DA4F49;
}

.label-warning {
	background-color: #FAA732;
}

.label-success {
	background-color: #5BB75B;
}

.label-info {
	background-color: #49AFCD;
}

/*
 * OVERRIDES BRICKROUGE
 */
.help-block {
	color: inherit;
	font-size: 12px;
	max-width: 76ex;
}

.help-inline {
	margin-bottom: 0;
	vertical-align: baseline;
	font-size: 12px;
}

label {
	margin-bottom: 0;
}

.control-group > label {
	margin-bottom: 5px;
}

input,
textarea,
select,
.uneditable-input,
.like-input {
	color: inherit;
}

.input-append input,
.input-append .uneditable-input {
	float: none;
	display: inline-block;
}

.input > label:last-child {
	margin-bottom: 0
}

.inputs-list > label {
	display: block;
}

.popover.contrast {
	font-size: 12px;
}

.popover.contrast input:not([type="checkbox"]):not([type="radio"]),
.popover.contrast textarea,
.popover.contrast .uneditable-input,
.popover.contrast .like-input,
.popover.contrast .input-prepend .add-on,
.popover.contrast .input-append .add-on {
	height: 16px;
	line-height: 16px;
}

.popover.contrast .btn {
	line-height: 16px;
}

.popover.contrast select,
.popover.contrast input[type="file"] {
	height: 26px;
	line-height: 26px;
}

.popover.contrast .popover-content {
	padding: 10px;
}

.popover.contrast select {
	background: #222; /* webkit doesn't work with "background-color" */
}

.popover-inner {
	overflow: visible;
}

.readonly {
	opacity: .3;
}

/*
 *
 */

html {
	overflow-y: scroll;
}

body {
	color: #404040;
	background-color: #E8E8E8;
	font-family: Roboto, Droid Sans, Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

body.page-slug-authenticate {
	min-height: 100%;
	background: url(icybee-ghost.png) left bottom no-repeat;
}

a {
	color: #4B8BB3;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input:focus {
	outline: none;
}

input:-moz-placeholder,
input:-ms-input-placeholder {
	font-style: italic;
}

input::-ms-clear {
    display: none;
	width : 0;
	height: 0;
}

.darker {
	color: black;
}

.dark {
	color: #202020;
}

.light {
	color: #808080;
}

.lighter {
	color: #A0A0A0;
}

.small {
	font-size: .8571em;
}

/*
 * OVERRIDES
 */

#dashboard div.panel {
	font-size: inherit;
}

form.edit div.form-label,
div.form-section-description div.contents {
	font-size: inherit !important;
}

/*
 * QUICK
 */

#quick {
	color: silver;
	background-color: black;
	font-size: 12px;
	padding: 1em 16px;
	height: 16px;
}

#quick .btn-group {
	vertical-align: top;
}

#quick a {
	color: inherit;
}

#quick .language {
	color: #777;
}

#quick .btn-group {
	display: inline-block;
}

#quick .btn-group .caret {
	vertical-align: middle;
	opacity: .6;
}

#quick .btn-group:hover .caret {
	opacity: .8;
}

#quick .btn-group.open .caret {
	opacity: 1;
}

#quick .dropdown-menu a {
	color: #404040;
}

#quick .dropdown-menu a:hover,
#quick .dropdown-menu li.active a {
	color: white;
}

#quick .dropdown-toggle {
	box-shadow: none;
	border-radius: 3px;
	padding: 0;
	cursor: default;
}

#quick .dropdown-toggle:hover,
#quick .btn-group.open .dropdown-toggle {
	border-color: #444;
}

/*
**

CONTENTS

**
*/

#contents-wrapper
{
	padding: 16px;
}

#contents-wrapper.restricted
{
	max-width: 960px;
	margin-right: auto;
}

#contents
{
	background-color: white;
	box-shadow: 0 25px 15px -20px rgba(0, 0, 0, 0.2);
}

/*
 * Blocks
 */

.block--delete .form-actions {
	background-color: transparent;
	border-top: 0;
	margin: 1em 0 0 0;
	padding: 0 !important;
}

.block-alert {
	padding: 16px;
	background: linear-gradient(to bottom, hsl(0, 0%, 95%), hsla(0, 0%, 100%, 0) 50px);
}

.block--delete .block-title,
.block-alert .block-title {
	margin-top: 0;
}

.block-alert .controls-label { /* fix missing bold on control label */
	font-weight: bold;
}

.block--interlock form {
	margin-top: 0;
}

/* block delete */

.block--delete {
	padding: 16px;
	background: linear-gradient(to bottom, hsl(0, 50%, 95%), hsla(0, 0%, 100%, 0) 50px);
}

.block--delete .alert {
	margin-bottom: 0;
}

.block--delete .preview {
	margin-top: 1.33em;
	font-size: .8571em;
	border-left: 3px solid #ccc;
	padding-left: 17px;
}

.block--delete .preview:empty {
	display: none;
}

.block--delete .preview p {
	max-width: 76ex;
}

.block--delete .dependencies ul ul {
	margin-top: 1em;
}

/*
 *
 */

body.exception {
	background: white;
}

body.exception h1 {
	margin-top: 0;
}

body.exception h1 small {
	color: #808080;
}

body.exception #contents-wrapper > .alert {
	border-left: 0;
	border-right: 0;
	border-radius: 0;
	margin-left: -16px;
	margin-right: -16px;
	margin-top: -17px;
	box-shadow: 0 25px 15px -20px hsl(0, 43%, 91%);
}

body.exception footer {
	color: #999;
	text-align: right;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 16px;
	opacity: .3;
}

body.exception footer a:not(:hover) {
	color: inherit;
}








.actionbar .btn-group-label {
	line-height: 28px;
	display: inline;
	margin-right: 8px;
}