
body.page-slug-authenticate {
	min-height: 100%;
	background: url(icybee-ghost.png) left bottom no-repeat;
}

/*
 * Bootstrap
 */

.input-append,
.input-prepend {
	vertical-align: middle;
	display: inline-block;
}

.sortable label {
	display: inline;
}

.pull-right .dropdown-menu {
	left: auto;
	right: 0;
}

/*
 *
 */

input:-moz-placeholder,
input:-ms-input-placeholder {
	font-style: italic;
}

input::-ms-clear {
    display: none;
	width : 0;
	height: 0;
}

/*
 * OVERRIDES
 */

#dashboard div.panel {
	font-size: inherit;
}

form.edit div.form-label,
div.form-section-description div.contents {
	font-size: inherit !important;
}
/*
 * Blocks
 */

.block--delete .form-actions {
	background-color: transparent;
	border-top: 0;
	margin: 1em 0 0 0;
	padding: 0 !important;
}

.block-alert {
	padding: 1rem;
	background: linear-gradient(to bottom, hsl(0, 0%, 95%), hsla(0, 0%, 100%, 0) 50px);
}

.block--delete .block-title,
.block-alert .block-title {
	margin-top: 0;
}

.block-alert .form-control-label { /* fix missing bold on control label */
	font-weight: bold;
}

.block--interlock form {
	margin-top: 0;
}

/* block delete */

.block--delete {
	padding: 1rem;
	background: linear-gradient(to bottom, hsl(0, 50%, 95%), hsla(0, 0%, 100%, 0) 50px);
}

.block--delete .alert {
	margin-bottom: 0;
}

.block--delete .preview {
	margin-top: 1.33em;
	font-size: .8571em;
	border-left: 3px solid #ccc;
	padding-left: 17px;
}

.block--delete .preview:empty {
	display: none;
}

.block--delete .preview p {
	max-width: 76ex;
}

.block--delete .dependencies ul ul {
	margin-top: 1rem;
}

/*
 *
 */

body.exception {
	background: white;
}

body.exception h1 {
	margin-top: 0;
}

body.exception h1 small {
	color: #808080;
}

body.exception #contents-wrapper > .alert {
	border-left: 0;
	border-right: 0;
	border-radius: 0;
	margin-left: -1rem;
	margin-right: -1rem;
	margin-top: -15px;
	box-shadow: 0 25px 15px -20px hsl(0, 43%, 91%);
	white-space: pre-wrap;
}

body.exception footer {
	color: #999;
	text-align: right;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 1rem;
	opacity: .3;
}

body.exception footer a:not(:hover) {
	color: inherit;
}
