@CHARSET "UTF-8";

/*
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('http://themes.googleusercontent.com/static/fonts/roboto/v2/RxZJdnzeo3R5zSexge8UUbO3LdcAZYWl9Si6vvxL-qU.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: bold;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('http://themes.googleusercontent.com/static/fonts/roboto/v2/OLffGBTaF0XFOW1gnuHF0brIa-7acMAeDBVuclsi6Gc.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url('http://themes.googleusercontent.com/static/fonts/roboto/v2/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url('http://themes.googleusercontent.com/static/fonts/roboto/v2/vzIUHo9z-oJ4WgkpPOtg13YhjbSpvc47ee6xR_80Hnw.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url('http://themes.googleusercontent.com/static/fonts/roboto/v2/1pO9eUAp8pSF8VnRTP3xnnYhjbSpvc47ee6xR_80Hnw.woff') format('woff');
}
*/

.light
{
	color: #808080;
}

.lighter
{
	color: #A0A0A0;
}

.dark
{
	color: #202020;
}

.darker
{
	color: black;
}

.small {
	font-size: .8571em;
}

html {
	overflow-y: scroll;
}

body
{
	color: #404040;
	background-color: #E8E8E8;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	/*-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;*/
}

a {
	color: #4B8BB3;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input:focus {
	outline: none;
}

/*
 * OVERRIDES
 */

#dashboard div.panel {
	font-size: inherit;
}

form.edit div.form-label,
div.form-section-description div.contents {
	font-size: inherit !important;
}

/*
 * OVERRIDES BRICKROUGE
 */
 
.help-block {
	color: inherit;
	font-size: 12px;
	max-width: 76ex;
}

.help-inline {
	margin-bottom: 0;
	vertical-align: baseline;
	font-size: 12px;
}

label {
	margin-bottom: 0;
}

.control-group > label {
	margin-bottom: 5px;
}

input, textarea, select, .uneditable-input, .like-input {
	color: inherit;
}

.input-append input, .input-append .uneditable-input {
  float: none;
  display: inline-block;
}

.input-prepend .add-on, .input-append .add-on {
  display: inline-block;
  float: none;
}

.input-prepend, .input-append {
	display: inline-block;
}

.input-prepend, .input-append {
  margin-bottom: 0; 
}

.input > label:last-child {
	margin-bottom: 0
}

.popover.contrast {
	font-size: 12px;
}

.popover.contrast input, .popover.contrast textarea, .popover.contrast .uneditable-input, .popover.contrast .like-input,
.popover.contrast .input-prepend .add-on, .popover.contrast .input-append .add-on {
  height: 16px;
  line-height: 16px;
}

.popover.contrast select, .popover.contrast input[type="file"] {
	height: 26px;
	line-height: 26px;
}

.popover.contrast .btn, .popover.contrast button {
	line-height: 14px;
}

.popover.contrast .popover-content {
	padding: 10px;
}

.popover.contrast select {
	background: #222; /* webkit doesn't work with "background-color" */
}

.popover-inner {
	overflow: visible;
}

.popover-actions {
	clear: both;
}

input:-moz-placeholder {
	font-style: italic;
}

.readonly {
	opacity: .3;
}















li:hover > .dropdown-menu {
	display: block;
}

.dropdown-menu {
	font-size: 12px;
}

.dropdown-menu.bottom-up {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 5px 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #fff;
  *width: 100%;
  *margin: -5px 0 5px;
}
.dropdown-menu a {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555 !important; /* we use important otherwise the property is overrode when in table.manage */
  white-space: nowrap;
}
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  color: #fff !important; /* we use important otherwise the color is overrode when in table.manage */
  text-decoration: none !important; /* same here */
  background-color: #0088cc;
}
.dropdown.open {
  *z-index: 1000;
}
.dropdown.open .dropdown-toggle {
  color: #ffffff;
  background: #ccc;
  background: rgba(0, 0, 0, 0.3);
}
.dropdown.open .dropdown-menu {
  display: block;
}



.navbar .dropdown-menu {
    border-radius: 4px;
    margin-top: 14px;
    font-size: 13px;
}
.navbar .dropdown-menu:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    left: 9px;
    position: absolute;
    top: -7px;
}
.navbar .dropdown-menu:after {
    border-bottom: 6px solid #FFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    top: -6px;
}

/*
 * QUICK
 */

#quick
{
	color: gray;
	background-color: black;
	font-size: 12px;
	padding: 1em 16px;
	height: 16px;
}

#quick .language {
	color: gray;
}

#quick .active .language,
#quick li:hover .language {
	color: inherit;
}

#quick .separator
{
	color: #333;
}

#quick a
{
	color: silver;
}

#quick .sites
{
	position: relative;
	float: left;
	white-space: nowrap;
}

#quick .sites ul
{
	z-index: 2;
	margin: 0;
	padding: 0;
	position: absolute;
	list-style: none;
	background: black;
	padding-bottom: 1px;
	min-width: 16ex;
	/*
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 5px 20px black;
	-webkit-box-shadow: 0px 5px 20px black;
	box-shadow: 0px 5px 20px black;
	/*margin-left: 2ex;*/
	
	margin: 0 0 0 -5px;
}

#quick .sites li:first-child + li
{
	margin-top: .5em;
}

#quick .sites li:last-child a
{
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
}

#quick .sites li:not(:first-child)
{
	display: none;
}

#quick .sites:hover li
{
	display: block;
}

#quick .sites li a
{
	padding: 5px;
}

#quick .sites li:not(:first-child) a
{
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	display: block;
	text-decoration: none;
}

#quick .sites li:not(:first-child):hover a
{
	background: -moz-linear-gradient(center left, white, #F6F6F6 5px) #F6F6F6;
	color: black;
	border-left-color: #333;
	border-right-color: #333;
}

#loader
{
	position: absolute;
	right: 1em;
	top: 50%;
	margin-top: -16px;
	background: url(base/loader.gif) center no-repeat;
	overflow: hidden;
	height: 0;
	padding-top: 32px;
	width: 32px;
	display: block;
	visibility: hidden;
}


/*
**

NAVIGATION

**
*/

#navigation
{
	font-size: 16px;
	border-top: 1px solid #333;
	background: black url(css/base/navigation.png) repeat-x top left;
	padding: 0;
	position: relative;
}

#navigation .nav {
	margin: 0;
	padding: 0;
	line-height: 1em;
	list-style: none;
}

#navigation .nav > li {
	display: inline;
	position: relative;
}

#navigation .nav > li > a {
	color: #AAA;
	text-decoration: none;
	font-size: .9em;
	display: inline-block;
	padding: 16px 8px 12px 8px;
	border-bottom: 4px solid transparent;
}

#navigation .nav > li > a:hover {
	border-bottom-color: rgba(51, 181, 229, 0.6);
	background: transparent;
}

#navigation .nav > li.selected > a {
	color: white;
	text-shadow: 1px 1px #333;
	border-bottom-color: rgba(51, 181, 229, 1); 
}

#navigation .nav > li:first-child > a {
	padding-left: 16px;
}

/*
**

CONTENTS

**
*/

#contents-wrapper
{
	padding: 16px;
}

#contents-wrapper.restricted
{
	max-width: 960px;
	margin-right: auto;
}

#contents
{
	background-color: white;
	box-shadow: 0 25px 15px -20px rgba(0, 0, 0, 0.2);
}


/*
 * EDIT
 */

/*
 * Bootstrap
 */
 
#-BOOTSTRAP {}

.nav {
    list-style: none outside none;
    margin-bottom: 18px;
    margin-left: 0;
}

.nav-list {
    margin-bottom: 0;
    padding-left: 14px;
    padding-right: 14px;
}
.nav-list > li > a, .nav-list .nav-header {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    padding: 3px 15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.nav-list .nav-header {
    color: #999999;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    text-transform: uppercase;
}
.nav-list > li + .nav-header {
    margin-top: 9px;
}
.nav-list .active > a {
    background-color: #0088CC;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.nav-list .icon {
    margin-right: 2px;
}
.nav-tabs, .nav-pills {
}
.nav-tabs:before, .nav-pills:before, .nav-tabs:after, .nav-pills:after {
    content: "";
    display: table;
}
.nav-tabs:after, .nav-pills:after {
    clear: both;
}
.nav-tabs > li, .nav-pills > li {
    float: left;
}
.nav-tabs > li > a, .nav-pills > li > a {
    line-height: 14px;
    margin-right: 2px;
    padding-left: 12px;
    padding-right: 12px;
}
.nav-tabs {
    border-bottom: 1px solid #DDDDDD;
}
.nav-tabs > li {
    margin-bottom: -1px;
}
.nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    padding-bottom: 9px;
    padding-top: 9px;
}
.nav-tabs > li > a:hover {
    border-color: #EEEEEE #EEEEEE #DDDDDD;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #DDDDDD #DDDDDD transparent;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    cursor: default;
}
.nav-pills > li > a {
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-bottom: 8px;
    padding-top: 8px;
}
.nav-pills .active > a, .nav-pills .active > a:hover {
    background-color: #0088CC;
    color: #FFFFFF;
}
.nav-stacked > li {
    float: none;
}
.nav-stacked > li > a {
    margin-right: 0;
}
.nav-tabs.nav-stacked {
    border-bottom: 0 none;
}
.nav-tabs.nav-stacked > li > a {
    border: 1px solid #DDDDDD;
    border-radius: 0 0 0 0;
}
.nav-tabs.nav-stacked > li:first-child > a {
    border-radius: 4px 4px 0 0;
}
.nav-tabs.nav-stacked > li:last-child > a {
    border-radius: 0 0 4px 4px;
}
.nav-tabs.nav-stacked > li > a:hover {
    border-color: #DDDDDD;
    z-index: 2;
}
.nav-pills.nav-stacked > li > a {
    margin-bottom: 3px;
}
.nav-pills.nav-stacked > li:last-child > a {
    margin-bottom: 1px;
}
.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu {
    border-width: 1px;
    margin-top: 1px;
}
.nav-pills .dropdown-menu {
    border-radius: 4px 4px 4px 4px;
}
.nav-tabs .dropdown-toggle .caret, .nav-pills .dropdown-toggle .caret {
    border-top-color: #0088CC;
    margin-top: 6px;
}
.nav-tabs .dropdown-toggle:hover .caret, .nav-pills .dropdown-toggle:hover .caret {
    border-top-color: #005580;
}
.nav-tabs .active .dropdown-toggle .caret, .nav-pills .active .dropdown-toggle .caret {
    border-top-color: #333333;
}
.nav > .dropdown.active > a:hover {
    color: #000000;
    cursor: pointer;
}
.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > .open.active > a:hover {
    background-color: #999999;
    border-color: #999999;
    color: #FFFFFF;
}
.nav .open .caret, .nav .open.active .caret, .nav .open a:hover .caret {
    border-top-color: #FFFFFF;
    opacity: 1;
}


#-SUBNVAV {}

.subnav {
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
    background-repeat: repeat-x;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    height: 36px;
    width: 100%;
}
.subnav .nav {
    margin-bottom: 0;
}
.subnav .nav > li > a {
    border-left: 1px solid #F5F5F5;
    border-radius: 0 0 0 0;
    border-right: 1px solid #E5E5E5;
    margin: 0;
    padding-bottom: 11px;
    padding-top: 11px;
}
.subnav .nav > .active > a, .subnav .nav > .active > a:hover {
    background-color: #E9E9E9;
    border-left: 0 none;
    border-right-color: #DDDDDD;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05) inset;
    color: #777777;
    padding-left: 13px;
}
.subnav .nav > .active > a .caret, .subnav .nav > .active > a:hover .caret {
    border-top-color: #777777;
}
.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover {
    border-left: 0 none;
    border-radius: 4px 0 0 4px;
    padding-left: 12px;
}
.subnav .nav > li:last-child > a {
    border-right: 0 none;
}
.subnav .dropdown-menu {
    border-radius: 0 0 4px 4px;
}
.subnav-fixed {
    border-color: #D5D5D5;
    border-radius: 0 0 0 0;
    border-width: 0 0 1px;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
    /*
    left: 0;
    position: fixed;
    right: 0;
    top: 40px;
    z-index: 1030;
    */
}
.subnav-fixed .nav {
    margin: 0 auto;
    padding: 0 1px;
}
.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover {
    border-radius: 0 0 0 0;
}

.subnav .nav a {
	color: inherit;
}












.sortable label {
	display: inline;
}






















.pull-right .dropdown-menu {
	left: auto;
	right: 0;
}

#quick .caret {
	border-top-color: white;
	vertical-align: middle;
}

#quick .dropdown-menu a {
	color: #404040;
}

#quick .dropdown-menu a:hover,
#quick .dropdown-menu li.active a {
	color: white;
}

#quick .btn-group {
	display: inline-block;
}

#quick .dropdown-toggle {
	box-shadow: none;
	border-radius: 3px;
	padding: 0;
	cursor: default;
}

#quick .dropdown-toggle:hover,
#quick .btn-group.open .dropdown-toggle {
	border-color: #444;
}

#quick .icon-white {
	opacity: .6;
}

#quick .btn-group:hover .icon-white,
#quick .btn-group:hover .caret {
	opacity: .8;
}

#quick .btn-group.open .icon-white,
#quick .btn-group.open .caret {
	opacity: 1;
}

.block--delete {
	padding: 16px;
}

.block--delete h3 {
	margin-top: 0;
}


.label {
    background-color: #999999;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    font-size: 9.75px;
    font-weight: bold;
    padding: 1px 3px 2px;
    text-transform: uppercase;
}
.label-important {
    background-color: #B94A48;
    background-color: #DA4F49;
}
.label-warning {
    background-color: #F89406;
    background-color: #FAA732;
}
.label-success {
    background-color: #468847;
    background-color: #5BB75B;
}
.label-info {
    background-color: #3A87AD;
    background-color: #49AFCD;
}

/*
 * Site access denied block
 */
.block-alert {
	padding: 16px;
}

.block-alert h2 {
	margin-top: 0;
}

.block-alert p {
	margin: 0;
}

.block-alert p + * {
	margin-top: 1.33em;
}

.block-alert.block-alert--interlock form {
	margin-top: 0;
}

.block-alert .form-actions {
	background-color: transparent;
	border-top: 0;
	margin: 0;
	padding: 16px 0 0 0 !important;
}

.block-alert .controls-label { /* fix missing bold on control label */
	font-weight: bold;
}

.block--delete .alert {
	margin-bottom: 0;
}

.block--delete .preview {
	margin-top: 1.33em;
	font-size: .8571em;
	border-left: 3px solid #ccc;
	padding-left: 17px;
}

.block--delete .preview p {
	max-width: 76ex;
}

.block--delete .preview:empty {
	display: none;
}





body.exception {
	background: white;
}

body.exception h1 {
	margin-top: 0;
}

body.exception h1 small {
	color: #808080;
}

body.exception .alert {
	border-left: 0;
	border-right: 0;
	border-radius: 0;
	margin-left: -16px;
	margin-right: -16px;
	margin-top: -17px;
}

body.exception footer {
	color: #999;
	text-align: right;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 16px;
	opacity: .3;
}

body.exception footer a:not(:hover) {
	color: inherit;
}