table.manage div.indentation,
table.manage div.handle 
{
	width: 13px;
	height: 100%;
	min-height: 13px;
	float: left;
}

table.manage div.handle
{
	background: url(manage/draggable.png) no-repeat center;
	cursor: move;
	display: block;
	margin-right: 2ex;
	opacity: .2;
}

table.manage tr:hover div.handle
{
	opacity: 1;
}

table.manage sup.modified
{
	vertical-align: text-top;
	margin-left: 1px;
}

table.manage tr.dragged,
table.manage tr.dragged.modified,
table.manage tr.dragged:hover,
table.manage tr.dragged.even:hover
{
	background-color: #EEF;
	background-color: #B5D5FF;
	background-color: #e5f1ff;
}

table.manage tr.dragged td,
table.manage tr.dragged.modified td,
table.manage tr.dragged:hover td,
table.manage tr.dragged.even:hover td
{
	border-bottom-color: #dae5f2;
}

/*
table.manage tr.dragged div.indentation,
table.manage tr.dragged div.handle
{
	background-color: red;
}
*/

table.manage tr.modified
{
	background-color: #FFE;
}

table.manage button[name=update]
{
	display: none;
}

table.manage tr.view:not(:hover) a.edit
{
	color: #903030;
}

table.manage tr.pattern:not(:hover) a.edit
{
	color: #C04040;
}

table.manage tr.location:not(:hover) a.edit
{
	color: #366380;
}

table.manage a.edit span.language
{
	font-size: .8em;
	color: #808080;
}

table.manage tr:hover a.edit span
{
	color: inherit;
}

table.manage .place-holder,
table.manage a.location
{
	height: 1em;
	width: 0;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	background-position: left center;
	background-repeat: no-repeat;
}

table.manage .place-holder,
table.manage a.location,
table.manage a.view
{
	padding-left: 14px;
}

table.manage td.url
{
	white-space: nowrap;
	width: 16px;
}

table.manage td.infos
{
	width: 16px;
}

label.checkbox-wrapper
{
	cursor: pointer;
}

label.checkbox-wrapper input
{
	visibility: hidden;
}

label.checkbox-wrapper.navigation
{
	background-image: url(manage/is_navigation-true.png);
}

label.checkbox-wrapper.navigation.checked
{
	background-image: url(manage/is_navigation-false.png);
}

table.manage a.location
{
	background-image: url(manage/location.png);
}

#manager a.treetoggle
{
	font-size: .8em;
	text-decoration: none;
	color: #808080;
	border: 1px solid #E8E8E8;
	background-color: #F6F6F6;
	padding: 0 .4em;
	border-radius: .4em;
	-moz-border-radius: .4em;
	-webkit-border-radius: .4em;
}

#manager a.treetoggle:hover
{
	color: #4B8BB3;
	border-color: #A3C0E5;
	background-color: #B5D5FF;
}