div.view-editor
{
	border: 1px solid #CCC;
	background: white;
	margin-bottom: .5em;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

form.edit div.view-editor span.label /* FIXME-20100724: this is a fix for a CSS bug */
{
	font-weight: normal;
}

div.form-section.flat div.radio-group.view-selector
{
	margin-top: 0;
}

div.view-editor table
{
	border-collapse: collapse;
	width: 100%;
}

div.view-editor td
{
	vertical-align: top;
}

div.view-editor td.view-editor-categories,
div.view-editor td.view-editor-subcategories
{
	border-right: 1px solid #CFCFCF;
	width: 20%;
}

div.view-editor ul
{
	margin: 0;
	padding: 0;
	list-style: none;
	display: none;
}

div.view-editor ul.active,
div.view-editor td.view-editor-categories ul
{
	display: block;
}

div.view-editor td.view-editor-categories a,
div.view-editor td.view-editor-subcategories a
{
	color: inherit;
	display: block;
	cursor: default;
	padding: .5em 1ex;
}

div.view-editor td.view-editor-categories a:hover,
div.view-editor td.view-editor-subcategories a:hover
{
	text-decoration: none;
}

div.view-editor td.view-editor-categories li.selected,
div.view-editor td.view-editor-subcategories li.selected,
div.view-editor td.view-editor-views li.selected
{
	background-color: #FFE;
}

div.view-editor td.view-editor-categories li.active,
div.view-editor td.view-editor-subcategories li.active,
div.view-editor td.view-editor-views li.active
{
	background-color: #F2F8FF;
}

div.view-editor td.view-editor-views ul
{
	max-height: 20em;
	overflow: auto;
}

div.view-editor td.view-editor-views li
{
	display: block;
	padding: 0.5em 1ex;
}

div.view-editor td.view-editor-views label {
	display: block;
}

div.view-editor td.view-editor-views span.text {
	font-weight: normal;
}

div.view-editor td.view-editor-views input {
	display: none;
}

div.view-editor td.view-editor-views div.element-description
{
	margin-left: 4ex;
	margin-top: 0;
}