<ol>
<wdp:foreach>
	<li class="#{@css_class}">
		<h3><a href="#{@url}">#{@title}</a></h3>
		<div class="metas">
			<wdp:if test="@category">
			<a href="#{@url('category')}" class="category">#{@category}</a><span class="separator"> &ndash; </span>
			</wdp:if>
			
			<time datetime="#{@date}" pubdate="pubdate">#{@date.format_date()}</time>
		</div>

		<div class="contents">
			<wdp:if test="@image">
			<img src="#{@image.thumbnail('contents-news-home').url}" alt="#{@image.alt}" class="illustration" />
			</wdp:if>

			#{@excerpt=}
		</div>
	</li>
</wdp:foreach>
</ol>

<p class="go-to-list"><a href="#{url:contents.news/list}">#{t:All records}</a></p>