<div class="metas">
	<wdp:if test="@category">
	<a href="#{@url('vocabulary/category/list')}" class="#{@category.css_class}">#{@category}</a><span class="separator"> &ndash;</span>
	</wdp:if>

	<time datetime="#{@date}" pubdate="pubdate">#{@date.format_date()}</time>
</div>

<div class="contents">
	<wdp:if test="@image">
	<a href="#{@image.path}" rel="lightbox" class="illustration">#{@image.thumbnail('contents-news-view')=}</a>
	</wdp:if>

	<div class="body">#{@=}</div>
</div>

<wdp:node:navigation />