<h4 class="view-title">#{count=}</h4>

<div class="view-inner">
	<wdp:foreach>
		<div id="comment-#{@commentid}" class="#{@css_class} #{self.even}">
			<div class="avatar">
			<img src="#{@author_icon}&amp;s=60" alt="#{@author}" />
			</div>

			<div class="author">
				<wdp:variable name="author">
				<wdp:choose>
				<wdp:when test="@author_url"><a href="#{@author_url}">#{@author}</a></wdp:when>
				<wdp:otherwise>#{@author}</wdp:otherwise>
				</wdp:choose>
				</wdp:variable>
				
				<h5><cite>#{author.trim()=}</cite>
				<time datetime="#{@created.format_date("y-MM-DD'T'HH:mm")}">le #{@created.format_date('d MMM y')}</time></h5>
			</div>

			<div class="comment-content">#{@=}</div>
		</div>
	</wdp:foreach>
</div>