@CHARSET "UTF-8";

#search-quick input.empty
{
	color: #666;
	font-style: italic;
}

#view-features-search-search div.set
{
	margin-top: 3em;
	border-top: 1px dashed #ccc;
}

#view-features-search-search h2
{
	margin-bottom: 0;
}

#view-features-search-search h2 + p
{
	margin-top: .4em;
}

#view-features-search-search ol
{
	margin: 1em 0;
	padding: 0;
	list-style: none;
}

#view-features-search-search h3
{
	font-size: 1em;
	margin-bottom: 0;
}

#view-features-search-search p.excerpt
{
	margin-top: 0;
	margin-bottom: 0;
}

#view-features-search-search cite
{
	color: #0E774A;
	font-style: normal;
}

#view-features-search-search p.more:before
{
	content: "\2192\00A0";
}

button.unstyled,
input[type="text"].unstyled,
select.unstyled
{
	-moz-transition: none;
	-o-transition: none;
	-webkit-transition: none;
	transition: none;
	box-shadow: none;
	border: none;
	background: transparent;
	padding: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.widget-search-combo
{
	border: 1px solid #CFCFCF;
	display: inline-block;
	margin: 0;
	background: white;
	font-size: .9em;
	border-radius: 4px;
	overflow: hidden;
	-moz-transition-property: border-color, box-shadow;
	-moz-transition-duration: .2s;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}

.widget-search-combo.focus
{
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}

.widget-search-combo input[type="text"],
.widget-search-combo select,
.widget-search-combo button
{
	padding: 2px 4px;
	margin: 0;
	border: none;
	line-height: normal;
	vertical-align: middle;
	border-radius: 0;
}

.widget-search-combo input[type="text"]
{
	padding-right: 1ex;
	border-right: 1px dotted #CFCFCF;
	margin-right: 1ex;
}

.widget-search-combo button
{
	color: white;
	background: #0064CD;
	background-image: -moz-linear-gradient(center top , #049CDB, #0064CD);
	padding-left: 1ex;
	padding-right: 1ex;
}