@CHARSET "UTF-8";

.widget-adjust-thumbnail-options select[name=v],
.widget-adjust-thumbnail-options select[name=method],
.widget-adjust-thumbnail-options input[name=background][type=text]:not([size])
{
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.widget-adjust-thumbnail-options input[readonly]
{
	color: transparent;
}