.editor-options {
	font-size: .8em;
	margin-top: .5em;
}

.editor-options select {
	line-height: normal;
	height: auto;
	width: auto;
	padding: 2px;
}

.editor-wrapper textarea[name="contents[body][contents]"] {
	height: 24em;
}