@CHARSET "UTF-8";

.group--location {
	overflow: hidden;
}

.group--location .control-group {
	float: left;
}

.group--location .control-group + .control-group {
	margin-left: 0;
}

.cell--status {
	width: 8ex;
}

td.cell--status {
	font-size: 12px;
}

.cell--status .btn-group {
	white-space: nowrap;
}

.cell--status .dropdown-menu {
	left: auto;
	right: 0;
}

td.cell--url {
	color: #808080;
}

td.cell--url strong {
	color: #404040;
	font-weight: normal;
}

tr:hover .cell--url strong {
	color: inherit;
}