<p:news:list select="$request">
	<p:variable name="$page.title">#{@first().category=}</p:variable>

	<ol>
	<p:foreach>
		<li>
			<h2><a href="#{@url}">#{@title}</a></h2>

			<div class="metas"><time datetime="#{@date}" pubdate="pubdate">#{@date.format_date('long')}</time></div>

			<div class="contents">
				<p:if test="@image">
				<img src="#{@image.thumbnail('news-list')}" alt="#{@image.title}" class="illustration" />
				</p:if>

				<div class="body">#{@excerpt=}</div>
			</div>
		</li>
	</p:foreach>
	</ol>

	<p:pager range="self.range" />
</p:news:list>