<ol>
<p:foreach>
	<li class="#{@css_class}">
		<h3><a href="#{@url}">#{@title}</a></h3>
		<div class="metas">
			<p:if test="@category">
			<a href="#{@url('vocabulary/category/list')}" class="category">#{@category}</a><span class="separator"> &ndash; </span>
			</p:if>
			
			<time datetime="#{@date}" pubdate="pubdate">#{@date.format_date()}</time>
		</div>

		<div class="contents">
			<p:if test="@image">
			<img src="#{@image.thumbnail('news-home').url}" alt="#{@image.alt}" class="illustration" />
			</p:if>

			#{@excerpt=}
		</div>
	</li>
</p:foreach>
</ol>

<p class="goto-list"><a href="#{url:news/list}">#{t:All records}</a></p>