<p:foreach>
	<div class="#{@css_class}">
		<h2><a href="#{@url}">#{@title}</a></h2>

		<div class="metas">
			<p:if test="@category"><a href="#{@url('vocabulary/category/list')}" class="category #{@category.css_class('type id')}">#{@category}</a><span class="separator"> &ndash;</span></p:if>
			<time datetime="#{@date}" pubdate="pubdate">#{@date.format_date()}</time>
		</div>
		
		<p:if test="@image">
		<a href="#{@url}">#{@image.thumbnail('news-list')=}</a>
		</p:if>

		<div class="excerpt">#{@excerpt=}</div>
	</div>
</p:foreach>

#{pagination=}