@CHARSET "UTF-8";

.view--contents--list .node + .node {
	margin-top: 2em;
}

.view--contents--list h2 a:not(:hover),
.view--contents--list .metas a:not(:hover) {
	color: inherit;
	text-decoration: none;
}

.view--contents--list .metas {
	font-size: .9em;
}
