table.manage th.score,
table.manage td.score
{
	text-align: right;
}


table.manage td.contents
{
	width: 45%;
}

table.manage td.contents span.contents
{
	font-size: .9em;
}

table.manage td.contents span.datetime
{
	display: block;
	text-align: right;
}

table.manage td.author img
{
	float: left;
	width: 32px;
	height: 32px;
	border-radius: 4px;
}

table.manage td.author img + div.details
{
	margin-left: 32px;
	padding-left: 1ex;
}

/* DASHBOARD */

#feedback-comments-last div.panel-contents
{
	margin: 0;
}

#feedback-comments-last .record
{
	padding: 14px;
	overflow: hidden;
}

#feedback-comments-last .options
{
	float: left;
}

#feedback-comments-last .record.spam
{
	background-color: #FFC;
}

#feedback-comments-last .header
{
	font-family: Droid Serif, Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-style: italic;
	margin-bottom: .4em;
}

#feedback-comments-last img
{
	float: left;
	border-radius: 4px;
}

#feedback-comments-last div.contents
{
	margin-left: 62px;
}

#feedback-comments-last .author
{
	font-weight: bold;
}

#feedback-comments-last .date
{
	float: right;
	font-family: Droid Serif, Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-style: italic;
	font-size: 12px;
}

#feedback-comments-last .body a
{
	text-decoration: none;
	color: inherit;
}

#feedback-comments-last .actions
{
	font-size: 12px;
}

#feedback-comments-last .head:not(:hover) a,
#feedback-comments-last .actions:not(:hover) a
{
	color: inherit;
}

#feedback-comments-last .actions a.target
{
	font-style: italic;
	font-family: Droid Serif, Georgia,"Times New Roman","Bitstream Charter",Times,serif;
}

#feedback-comments-last .more-auto
{
	display: none;
	float: right;
}

#feedback-comments-last .record:hover .more-auto
{
	display: inline-block;
}

#feedback-comments-last .go-to-list
{
	font-size: 12px;
	text-align: center;
	padding: .4em 0;
	border-top: 1px solid #cfcfcf;
	background: -moz-linear-gradient(top, white, rgba(255,255,255,0));
}

#feedback-comments-last .go-to-list a:not(:hover)
{
	color: inherit;
}